apiVersion: v1
kind: Secret
metadata:
  name: mysql-secret
  namespace: hotel-booking
type: Opaque
data:
  password: SG90ZWxAMTIz
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mysql-config
  namespace: hotel-booking
data:
  init.sql: |
    CREATE DATABASE IF NOT EXISTS hotel_booking_system;
    CREATE USER IF NOT EXISTS 'hotel_user'@'%' IDENTIFIED BY 'Hotel@123';
    GRANT ALL PRIVILEGES ON hotel_booking_system.* TO 'hotel_user'@'%';
    FLUSH PRIVILEGES;
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mysql
  namespace: hotel-booking
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
      - name: mysql
        image: mysql:8.0
        env:
        - name: MYSQL_ROOT_PASSWORD
          value: "rootpassword"
        - name: MYSQL_DATABASE
          value: "hotel_booking_system"
        - name: MYSQL_USER
          value: "hotel_user"
        - name: MYSQL_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        ports:
        - containerPort: 3306
        volumeMounts:
        - name: init-script
          mountPath: /docker-entrypoint-initdb.d
      volumes:
      - name: init-script
        configMap:
          name: mysql-config
